<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search results</title>
</head>
<body>
    <h1>Search Results: </h1>
    <p>You searched for: <%= searchQuery %></p>
    <% if (users.length === 0) { %>
        <p>No users found...</p>
        <% } %>
    
    <% if (locals.users && users.length > 0) { %>
        <ul>
        <% users.forEach(user => { %>
        <li>
            ID: <%= user.id %> 
            <br>
            Name: <%= user.firstName %> <%= user.lastName %>
            <br>
            Email: <%= user.email %>
            <%  if (user.age) { %> 
            <br>
            Age: <%= user.age %><% } %>
            <% if (user.bio) {%>
            <br>
            Bio: <%= user.bio %> <% } %>
            
            <div class="user-actions">
            <a href="/<%= user.id %>/update">Update</a>
            <form action="/<%= user.id %>/delete" method="POST">
                <button type="submit" onclick="return confirm('Are you sure yoy want to delete this user?')">Delete</button>
                
            </form>

            </div>
            
        </li>
            <% }) %>
            </ul>
    <% } %>
    <a href="/">Back to all users</a>

</body>
</html>